{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-10 offset-1">
		<div class="row text-center mb-3">
			<h4>Suivre d'autres utilisateurs</h4>
			<form action="{% url 'authentification:follows' %}" method="post">
				{% csrf_token %}
				<div class="col-9 d-inline-block">
					<input class="form-control text-center" type="text" name="username" placeholder="Nom d'utilisateur">
				</div>
				<div class="col-2 d-inline-block">
					<button class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
		<div class="row text-center mb-3">
			<h4>Abonnements</h4>
			<table class="table table-sm table-bordered border-dark">
				<tbody>
					{% for user in following %}
					<tr>
						<td>{{ user.followed_user.username }}</td>
						<td><a href="{% url 'authentification:unfollow' user.followed_user.id %}" class="btn btn-danger">Désabonner</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="row text-center">
			<h4>Abonnés</h4>
			<table class="table table-sm table-bordered border-dark text-start">
				<tbody>
					{% for user in followed_by %}
					<tr>
						<td>{{ user.user.username }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}