{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-8 offset-2">
		<a href="{% url 'reviews:ask' %}" class="btn btn-primary btn-lg">Demander une critique</a>
		<a href="{% url 'reviews:create' %}" class="btn btn-primary btn-lg float-end">Créer une critique</a>
	</div>
	<div class="col-8 offset-2 mt-3">
		{% for post in posts %}
			{% if post.content_type == 'TICKET' %}
				{% include 'ticket_snippet.html' %}
			{% elif post.content_type == 'REVIEW' %}
				{% include 'review_snippet.html' %}
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}